[submodule "repos/longhorn-engine"]
	path = engine
	url = https://github.com/longhorn/longhorn-engine.git
[submodule "repos/longhorn-manager"]
	path = manager
	url = https://github.com/longhorn/longhorn-manager.git
[submodule "repos/longhorn-instance-manager"]
	path = instance-manager
	url = https://github.com/longhorn/longhorn-instance-manager.git
[submodule "repos/longhorn-ui"]
	path = longhorn-ui
	url = https://github.com/longhorn/longhorn-ui.git
